.page{
  width: 780px;
  margin: auto;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
  font-size: 16px;
}
.infophoto{
  height: 250px;
}
.info{
  float: left;
}
.photo{
  float: right;
  border: 3px solid #fff;
  border-radius: 50%;

}
.formation{
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin:20px auto;
  box-shadow: 0px 0px 10px #bbb;
  text-align: justify;
}
.section-gauche{
  float: left;
  margin: 35px 0;
  font-weight: bold;
  font-size-20px;
}
.section-droite{
  width: 90%;
  margin-left: 40px;
  margin-top: 35px;
  h2{
    font-size: 28px;
    color: #3388BB;
    border-bottom: 3px solid #3388DD;
  }
}
